<video autoplay muted loop id="bg-video">
    <source src="assets/Pizza/Pizza.mp4" type="video/mp4">
</video>

<form class="cadastrar-container">
    <h1>CADASTRAR</h1>
    <input type="text" #nome value="{{ usuario?.nome }}" placeholder="Nome..." onkeypress="return event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 32">
    <!-- <input type="password" #senha value="{{ usuario?.senha }}" placeholder="Senha..." maxlength="12"> -->
    <input type="text" #cpf value="{{ usuario?.cpf }}" placeholder="xxx.xxx.xxx-xx" (input)="formatarCPF($event)">
    <input type="text" #email value="{{ usuario?.email }}" placeholder="exemplo@exemplo.com" (input)="formatarEmail($event)">
    <input type="text" #data_nascimento value="{{ usuario?.dataNascimento }}" placeholder="Dia/Mês/Ano" (input)="formatarData($event)">
    <input type="button" value="Cadastrar" class="btn" (click)="postUsuario(nome.value, cpf.value, email.value, data_nascimento.value)" *ngIf="!usuario">
    <input type="button" value="editar" class="btn" (click)="putUsuario(nome.value, cpf.value, email.value, data_nascimento.value, usuario?.id)" *ngIf="usuario">
</form>
