<app-header></app-header>



<main class="fundo">
  <div class="search-bar-container">
    <div class="search-bar">
      <input type="text" placeholder="Pesquisa" />
    </div>
  </div>

  <div class="container">
    <article class="card">
       <!-- <img
        src="https://cloudfront-us-east-1.images.arcpublishing.com/estadao/C7263LFMLVEUHARXGNOZBW4JF4.png"
        alt="Feijoada completa" -->
      /> 
       <img [src]="foodImageUrl" alt="Imagem de comida"> 
      <section class="content">
        <div class="title">
          <h1>Feijoada Completa</h1>
          <span class="price">R$ 70</span>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="ingredients">
          <h3>Ingredientes:</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </section>
    </article>

    <article class="card">
      <img
        src="https://cloudfront-us-east-1.images.arcpublishing.com/estadao/C7263LFMLVEUHARXGNOZBW4JF4.png"
        alt="Feijoada completa"
      />
      <section class="content">
        <div class="title">
          <h1>Feijoada Completa</h1>
          <span class="price">R$ 70</span>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="ingredients">
          <h3>Ingredientes:</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </section>
    </article>

    <article class="card">
      <img
        src="https://cloudfront-us-east-1.images.arcpublishing.com/estadao/C7263LFMLVEUHARXGNOZBW4JF4.png"
        alt="Feijoada completa"
      />
      <section class="content">
        <div class="title">
          <h1>Feijoada Completa</h1>
          <span class="price">R$ 70</span>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="ingredients">
          <h3>Ingredientes:</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </section>
    </article>

    <article class="card">
      <img
        src="https://cloudfront-us-east-1.images.arcpublishing.com/estadao/C7263LFMLVEUHARXGNOZBW4JF4.png"
        alt="Feijoada completa"
      />
      <section class="content">
        <div class="title">
          <h1>Feijoada Completa</h1>
          <span class="price">R$ 70</span>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="ingredients">
          <h3>Ingredientes:</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </section>
    </article>

    <article class="card">
      <img
        src="https://cloudfront-us-east-1.images.arcpublishing.com/estadao/C7263LFMLVEUHARXGNOZBW4JF4.png"
        alt="Feijoada completa"
      />
      <section class="content">
        <div class="title">
          <h1>Feijoada Completa</h1>
          <span class="price">R$ 70</span>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="ingredients">
          <h3>Ingredientes:</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </section>
    </article>

    <article class="card">
      <img
        src="https://cloudfront-us-east-1.images.arcpublishing.com/estadao/C7263LFMLVEUHARXGNOZBW4JF4.png"
        alt="Feijoada completa"
      />
      <section class="content">
        <div class="title">
          <h1>Feijoada Completa</h1>
          <span class="price">R$ 70</span>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="ingredients">
          <h3>Ingredientes:</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </section>
    </article>

    <article class="card">
      <img
        src="https://cloudfront-us-east-1.images.arcpublishing.com/estadao/C7263LFMLVEUHARXGNOZBW4JF4.png"
        alt="Feijoada completa"
      />
      <section class="content">
        <div class="title">
          <h1>Feijoada Completa</h1>
          <span class="price">R$ 70</span>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="ingredients">
          <h3>Ingredientes:</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </section>
    </article>

    <article class="card">
      <img
        src="https://cloudfront-us-east-1.images.arcpublishing.com/estadao/C7263LFMLVEUHARXGNOZBW4JF4.png"
        alt="Feijoada completa"
      />
      <section class="content">
        <div class="title">
          <h1>Feijoada Completa</h1>
          <span class="price">R$ 70</span>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="ingredients">
          <h3>Ingredientes:</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </section>
    </article>
  </div>
</main>

