<app-header></app-header>

<div class="container">
  <div class="text-content">
      <div class="heading">Peça sua comida saborosa a <span class="highlight">qualquer hora!</span></div>
      <div class="subheading">Aqui você escolhe o complemento da sua felicidade.</div>
      <div class="buttons">
          <a href="#" class="button" routerLink="/cardapio" >Cardápio</a>
          <a href="#" class=" button-secondary" >Sobre nós</a>
      </div>
  </div>
  <div >
      <img src="/assets/img/prato-principal.png" alt="Comida" class="food-image">
  </div>
</div>


<div class="populares">
<h1 class="titulo">Pratos mais populares</h1>
  <div class="container">
    <article class="card">
      <img
        src="https://cloudfront-us-east-1.images.arcpublishing.com/estadao/C7263LFMLVEUHARXGNOZBW4JF4.png"
        alt="Feijoada completa"
      />
      <section class="content">
        <div class="title">
          <h1>Feijoada Completa</h1>
          <span class="price">R$ 70</span>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
    
      </section>
    </article>
    <article class="card">
      <img
        src="https://cloudfront-us-east-1.images.arcpublishing.com/estadao/C7263LFMLVEUHARXGNOZBW4JF4.png"
        alt="Feijoada completa"
      />
      <section class="content">
        <div class="title">
          <h1>Feijoada Completa</h1>
          <span class="price">R$ 70</span>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
       
      </section>
    </article>
    <article class="card">
      <img
        src="https://cloudfront-us-east-1.images.arcpublishing.com/estadao/C7263LFMLVEUHARXGNOZBW4JF4.png"
        alt="Feijoada completa"
      />
      <section class="content">
        <div class="title">
          <h1>Feijoada Completa</h1>
          <span class="price">R$ 70</span>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
       
      </section>
    </article>
  </div>

</div>


<section class="bloco-sobre-nos">
  <img
    src="assets/img/img-pessoa.png"
    alt="Cliente sendo atendido"
    class="sobre-nos-img1"
  />
  <div class="text-sobre-nos">
    <h2>Lorem ipsum dolor sit amet consectetur</h2>
    <p>
      At vero eos et acusamus et iusto odio dignissimos ducimus qui blanditiis
      <br />
      praesentium voluptatum deleniti atque corrupti quos dolores et quas
      <br />molestias excepturi sint occaecati cupiditate non provident,
      similique sunt <br />in culpa qui officia deserunt mollitia animi, id est
      laborum et dolorum fuga.
      <br />
      <br />
      Et harum quidem rerum facilis est et expedita distintatio, cum soluta
      nobis<br />
      est eligendi optio cumque nihil impedit quo minus id quod maxime
      placeat<br />
      facere possimus, omnis voluptas assumenda est, omnis dolor repellendus
      <br />aut officiis debitis aut rerum necessitatibus saepe eveniet. ut et
      voluptates<br />
      repudiandae sint et molestiae non recusandae.
    </p>
    <p>Mauricio de Nassau</p>
  </div>
</section>

<section class="cards-sobre-nos">

  <article class="cardsTopicos">
    <div class="numero-card">01</div>
    <div>
      <strong
        >Lorem ipsum dolor sit amet <br />
        consectetur</strong
      >
      <br />
      <p class="conteudo-card-caracteristica">
        sed do eiusmod tempor incididunt <br />
        ut labore et dolore magna aliqua. <br />
        Ut enim ad minim veniam, quis.
      </p>
    </div>
  </article>

  <article class="cardsTopicos">
    <div class="numero-card">02</div>
    <div>
      <strong
        >Lorem ipsum dolor sit amet <br />
        consectetur</strong
      >
      <br />
      <p class="conteudo-card-caracteristica">
        sed do eiusmod tempor incididunt <br />
        ut labore et dolore magna aliqua. <br />
        Ut enim ad minim veniam, quis.
      </p>
    </div>
  </article>

  <article class="cardsTopicos">
    <div class="numero-card">03</div>
    <div>
      <strong
        >Lorem ipsum dolor sit amet <br />
        consectetur</strong
      >
      <br />
      <p class="conteudo-card-caracteristica">
        sed do eiusmod tempor incididunt <br />
        ut labore et dolore magna aliqua. <br />
        Ut enim ad minim veniam, quis.
      </p>
    </div>
  </article>

  <article class="cardsTopicos">
    <div class="numero-card">04</div>
    <div>
      <strong
        >Lorem ipsum dolor sit amet <br />
        consectetur</strong
      >
      <br />
      <p class="conteudo-card-caracteristica">
        sed do eiusmod tempor incididunt <br />
        ut labore et dolore magna aliqua. <br />
        Ut enim ad minim veniam, quis.
      </p>
    </div>
  </article>

</section>

<section class="contact">

  <article class="conteudo-contact">
    <h2 class="titulo-contact">Contato</h2>

    <p class="descricao-contact">Sed ut perspiciatis unde omnis iste natus error sit <br> 
      voluptatem accusantium doloremque laudantium, totam <br> rem aperiam, eaque ipsa quae ab illo inventore  veritatis <br>
       et quasi arquiteto.
    </p>

    <p class="num-contact">
      <mat-icon aria-hidden="false" class="icon-contact" fontIcon="call"></mat-icon>
      +55 (81) 98888-7777
    </p>

    <p class="endereco-contact">
      <mat-icon aria-hidden="false" class="icon-contact" fontIcon="location_on"></mat-icon>
      Recife - Graças
    </p>
    <p class="email-contact" >
      <mat-icon aria-hidden="false" class="icon-contact" fontIcon="mail"></mat-icon>
      saboresdoconde<mat-icon aria-hidden="false" class="icon-contact"fontIcon="alternate_email"></mat-icon>gmail.com
    </p>
  </article>

  <article class="maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.487517736228!2d-34.90811492255224!3d-8.051649971285642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab18e1236c4cc5%3A0xcf30335f63037230!2sUNINASSAU%20Gra%C3%A7as%20-%20Bloco%20A!5e0!3m2!1spt-PT!2sbr!4v1718143762873!5m2!1spt-PT!2sbr" width="500" height="300" style="border:2px solid black;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="maps"></iframe>
  </article>

</section>

<section class="secao-feedback" >

  <h1 class="titulo-feedback" >Confira os comentários sobre nós</h1>

  <div class="feedback-container">
    <div *ngFor="let message of feedbackMessages; let i = index">
      <div class="feedback-message" [style.background-color]="backgroundColor">
        {{ message }}
      </div>
    </div>

  </div>
  <textarea name="" id="input-feedback" [(ngModel)]="feedbackText" placeholder="Escreva seu feedback" ></textarea>
  <button mat-raised-button extended color="primary" class="botao-feedback" (click)="sendFeedback()">Enviar</button>

</section>

<app-footer></app-footer>
